/* --- CSS Document --- */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);


/* Base Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 14px;
    color: #4988a7;
}

.container {
    height: 100vh;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    text-align: center;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}

hr {
    border: 2px solid #4988a7;
    width: 100px;
}

/* Typography */
h2 {
    font-size: 18px;
}

/* Links */
a:hover, a:active, a:focus {
  outline: 0;
  border: 0;
}

a.link {
    font-size: 14px;
    color: #4988a7;
    font-weight: bold;
    text-decoration: none;
}

a.inpar {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

a.email {
    font-size: 14px;
    color: #7b7474;
    text-decoration: none;
}

a.copy {
    font-weight: bold;
    color: #4988a7;
    text-decoration: none;
}

/* Images */
img {
    border: 0;
    outline: 0;
}

/* Home Page */
.menu {
    position: absolute;
    top: 15px;
    right: 30px;
    cursor: pointer;
}

.modal-pos {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: rgba(37,41,52,0.7);
    vertical-align: middle;
    overflow: auto;
}

.modal-wrapper {
    position: absolute;
    max-width: 600px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.modal-content {
    background-color: #fff;
    padding: 20px 50px 50px;
}

.modal-content p {
    color: #000;
    line-height: 1.5;
}

.avatar {
    margin-top: 20px;
    width: 100px;
    border-radius: 100%;
}

.close-wrapper {
    position: relative;
    margin-bottom: 50px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    color: #4988a7;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.logo {
    margin-bottom: 10px;
}

.social-icons {
    margin-top: 15px;
}

.social-icons img {
    width: 40px;
    margin: 0 1px;
}

.social-icons.is-emph {
  animation-name: tada;
  animation-duration: 1s;
  animation-fill-mode: both;
  z-index: 1;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0px;
    left: 20px;
}

footer p {
    font-size: 14px;
}

/* Media Query */
@media screen and (max-width: 550px) {
    footer {
        left: 0;
    }
}

@media screen and (max-width: 400px) {
    .modal-content {
        padding: 20px;
    }
}